PORT=3005
NODE_ENV=local
USE_MOCK=true
JWT_SECRET_KEY=replace-with-local-secret
JWT_SECRET_KEY_MFA=replace-with-local-mfa-secret
DB_SCHEMA=demo
SMTP_HOST=
SMTP_TO_EMAIL=
ACCESS_TOKEN_SECRET=
OTP_SECRET=
SUPABASE_URL=
SUPABASE_KEY=
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_SERVER=
MSSQL_DATABASE=
MSSQL_PORT=1433
PDMSQL_USER=
PDMSQL_PASSWORD=
PDMSQL_SERVER=
PDMSQL_DATABASE=
BPM_URL=
FTP_HOST=
FTP_PORT=21
FTP_USER=
FTP_PASSWORD=
AD_URL=
AD_BASE_DN=
